<div class='col-md-8 col-md-offset-2 panel panel-default'>
  <div class='panel-body'>
    <h1>Appointments</h1>
       <tr>
            <td>
            <% @cal.each do |a| %>
              <div class="card-content">
                <% something = CareProvider.find(a.care_provider_id) %>
                <td><b>Description:</b></td>
                <%= a.description %>
                <br>
                <td><b>Appointment Time:</b></td>
                <%= a.start.strftime("%k:%M %p | %B %d, %Y") %>
                <td> --- </td>
                <%= a.end.strftime("%k:%M %p | %B %d, %Y") %>
                <br>
                <td><b>Physician:</b></td>
                <%= something.physician_name %>
                <br>
                <td><b>Care Provider:</b></td>
                <%= something.office_name %>
                <br>
                <td><b>Office Phone:</b></td>
                <%= something.office_phone %>
                <br>
                <td><b>Office Address:</b></td>
                <%= something.address_line_one %>
                <%= something.address_line_two %> <td> | </td>
                <%= something.city %> <td>,</td> 
                <%= something.state %> <td>,</td> 
                <%= something.zip %>
                <br>
                <td><b>Appointment Status:</b></td>
                <% if a.itinerary_status_id == 1 
                         status = "Needs Verified"
                         color = "blue"
                  elsif a.itinerary_status_id == 2 
                         status = "Pending"
                         color = "#EAC117"
                  elsif a.itinerary_status_id == 3 
                         status = "Approved"
                         color = "green"
                  else 
                         status = "Denied"
                         color = "red"
                  end %> 
                 <span style="color: <%= color %>"> <%= status %></span>
                  <!-- <font color="red">This is some text!</font> -->

                <br>
                <td><b>Comments:</b></td>
                <br>
                <% Comment.where(:itinerary_id => a.id).each do |c| %>
                    <li><%= c.poster_name %> <td>:</td> <%= c.comment %></li>
                <% end %>
                <br><br>
              </div>
            <% end %>
            </td>
          </tr>
  </div>
</div>
