<div class='col-md-8 col-md-offset-2 panel panel-default'>
  <div class='panel-body'>
    <h1>Appointments</h1>
       <tr>
            <td>
            <% @cal.each do |a| %>
              <div class="card-content">
                <td>Description:</td>
                <%= a.description %>
                <br>
                <td>Appointment Time:</td>
                <%= a.start.strftime("%k:%M %p | %B %d, %Y") %>
                <td> --- </td>
                <%= a.end.strftime("%k:%M %p | %B %d, %Y") %>
                <br>
                <td>Physician:</td>
                <%= CareProvider.find(a.care_provider_id).physician_name %>
                <br>
                <td>Care Provider:</td>
                <%= CareProvider.find(a.care_provider_id).office_name %>
                <br>
                <td>Office Phone:</td>
                <%= CareProvider.find(a.care_provider_id).office_phone %>
                <br>
                <td>Office Address:</td>
                <%= CareProvider.find(a.care_provider_id).address_line_one %>
                <%= CareProvider.find(a.care_provider_id).address_line_two %> <td> | </td>
                <%= CareProvider.find(a.care_provider_id).city %> <td>,</td> 
                <%= CareProvider.find(a.care_provider_id).state %> <td>,</td> 
                <%= CareProvider.find(a.care_provider_id).zip %>
                <br>
                <td>Comments:</td>
                <br>
                <% Comment.where(:itinerary_id => a.id).each do |c| %>
                    <li><%= c.poster_name %> <td>:</td> <%= c.comment %></li>
                <% end %>
                <br><br>
              </div>
            <% end %>
            </td>
          </tr>
  </div>
</div>
