<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("/img/appointments.jpg", class: "img-responsive") %>
          <span class="card-title"><%= @appointment.description %></span>
        </div>
          <div class="card-content">
            <ul id="details">
              <li>
                Care Provider:
                <strong><%= @careProvider.office_name %></strong>
              </li>
              <li>
                Physician Name:
                <strong><%= @careProvider.physician_name %></strong>
              </li>
              <li>
                City:
                <strong><%= @careProvider.city %></strong>
              </li>
              <li>
                Starts on:
                <strong><%= @appointment.start.to_s(:long) %></strong>
              </li>
              <li>
                Ends on:
                <strong><%= @appointment.end.to_s(:long) %></strong>
              </li>
            </ul>
          </div>

          <div class="card-action">
            <div class="row">
              <div class="col-md-4">
                <%= link_to 'Back to calendar', appointments_view_path, :class => 'btn btn-primary btn-block'%>
              </div>
              <div class="col-md-4">
                <%= link_to 'Edit', edit_appointment_path(@appointment), :class => 'btn btn-primary btn-block' %>
              </div>
              <div class="col-md-4">
                <%= button_to 'Delete', appointment_path(@appointment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-warning btn-block' %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>