!!!
%html
  %head
    = favicon_link_tag 'favicon.png'
    %title Care Coordinator
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container-fluid
      .navbar-header
        .navbar-brand
          =image_tag("logo2.png", size: "200x80")
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => appointments_daily_path}
              Daily
          %li
            %a{:href => appointments_weekly_path}
              Weekly
          %li
            %a{:href => appointments_monthly_path}
              Monthly
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
